/* Global styles
************************************************************/
html{
    box-sizing: border-box;
    scroll-behavior:smooth;
    /* position:fixed; */
    /* max-width: max-content; */
}
*, *:before,*:after{
        box-sizing: inherit;
 }
 .button {
    border: none;
    padding: 2px;
    text-align:center;
    /* display: inline-block; */
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 3px;
    margin-left: 91.6%;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color:floralwhite;
    color: black; 
    border: 1px solid #0e0909;
    border-radius: 56px;
    position: fixed;
    scroll-behavior:smooth;
    
}
  .button a:visited{
      color:black;
      text-decoration: none;
  }
  .button a:link{
      text-decoration: none;
  }
  
  .button:hover {
    background-color:lightcoral;
    color: bisque;
  }
  .button a:active{
      color: azure;
  }

img{
    width: 60%;
    height: auto;
    border:2px dashed gray;
    padding: 5px;
}

h1,h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 700px;
    margin: 0;
}


body{
    color: antiquewhite;
    padding: 0%;
    margin: 0%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    max-width:  100%;
}
.content-wrap{
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    padding: 40px 0;
    /* overflow: hidden; */
}
section{
    max-width: auto;
}




/* Profile
************************************************************/
header{
    background-color: darksalmon;
    color: #330808;
    /* text-align: center; */
    background-image: url("file:///c:/Users/user/OneDrive/Desktop/css portfolio/images/annie-spratt-V1lmayjfBJc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header h1{
    font-family: 'Pattaya', sans-serif;
    font-weight:lighter;
    font-size: 100px;
    padding: 10px;
    line-height: 90px;
}
header h2{
    font-family: 'Pattaya', sans-serif;
    font-weight:lighter;
    font-size: 45px;
    line-height: 50px;
}

/* Projects
************************************************************/
.projects{
    background-color: cornflowerblue;
    color: brown;
    background-image: url("file:///c:/Users/user/OneDrive/Desktop/css portfolio/images/annie-spratt-unsplash.jpg");
    background-repeat: no-repeat;
   background-size: cover;
}
.projects p{
    color: black;
}

/* Work-experience
************************************************************/
.work-experience{
    background-color: bisque;
    color: black;
    background-image: url("file:///c:/Users/user/OneDrive/Desktop/css portfolio/images/sharon-mccutcheon-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Education
************************************************************/
.education{
    background-color: darkgray;
    color: black;
    background-image: url("file:///c:/Users/user/OneDrive/Desktop/css portfolio/images/education_img.jpg");
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    background-size: 100% 100%;
}

.edumix h3 ~ p{
    font-style: italic;
}
/*.edumix > section{
    border-bottom: 2px dashed black;
}
.edumix > section:last-of-type{
    border-bottom: none;
}*/
/*certification
************************************************************/
.certification{
background-color:rgb(250, 242, 171);
color:midnightblue;
overflow: hidden;
    padding: 40px 0;
    background-image: url("file:///c:/Users/user/OneDrive/Desktop/css portfolio/images/sharon-mccutcheon-unsplash.jpg");
    background-attachment: scroll;
    background-size:auto;
    background-position:center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* Contact Info
************************************************************/
footer{
    background-color: darkslategray;
    color:blanchedalmond;
    font-size: 18px;
    line-height: 15px;
    background-image: url("file:///c:/Users/user/OneDrive/Desktop/css portfolio/images/education_img.jpg");
}
footer .content-wrap{
    padding-bottom: 3%;
    display: inline-block;
}

footer img{
    width: 50px;
    height: 50px;
    border: 0;
    display: inline-block;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Responsive info
************************************************************/

@media screen and (min-width : 750px) {
    header,footer{
        text-align: center;
    }
}

@media screen and (max-width : 749px){
    footer img{
        width: 40px;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
     header h1{
        font-size: 65px;
        line-height: 60px;
    }
    header h2{
        font-size: 40px;
        line-height: 40px;
    }
    footer h2{
        margin-left: 18px;
        padding: 3px;
        font-size: 30px;
        line-height: 30px;
    }
    .button{
        margin-left: 80%;
        font-size: 10px;
        padding: 1px;
    }
}
@media screen and (max-width : 300px){
    .button{
        margin-left: 3%;
        margin-bottom: 4px;
        font-size: 8px;
        padding: 1px;
    }
    header h1{
        font-size: 40px;
        line-height: 40px;
        margin-left: 3px;
    }
    header h2{
        font-size: 25px;
        line-height: 25px;
    }
    footer h2{
        font-size: 20px;
        line-height: 30px;
    }
    footer img{
        width: 30px;
        height: 30px;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 5px;
    }
    @media screen and (max-width : 200px){
        header h1{
            font-size: 20px;
            line-height: 20px;
            margin-left: 3px;
        }
        header h2{
            font-size: 10px;
            line-height: 10px;
        }
        footer h2{
            font-size: 15px;
            line-height: 18px;
        }
    }

}